.banner {
  width: 100vw; /* Garante que o banner ocupe toda a largura da tela */
  height: 600px; /* Ajuste conforme necessário */
  position: relative;
  overflow: hidden;
}

.banner-img {
  width: 100vw; /* Ajusta a imagem para ocupar toda a largura */
  height: auto;
  display: block; /* Remove possíveis espaçamentos indesejados */
}

.logo-container {
  position: absolute;
  bottom: 20%;
  left: 10%;
}

.logo {
  width: 411px;
  height: auto;
}

.tagline {
  position: absolute;
  bottom: 30%;
  left: 15%;
  font-size: 1rem;
  text-align: center;
  color: var(--text-color-subtitles);
}

.highlight {
  position: absolute;
  top: 30%;
  right: 10%;
  max-width: 300px;
  font-size: 1rem;
  color: var(--text-color);
  text-align: right;
}

/* Responsividade */
@media (max-width: 768px) {
  .banner {
    height: auto;
  }

  .logo-container {
    bottom: 10%;
    left: 50%;
