footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: var(--bg-nav-color);
    font-family: var(--font-title);
    text-align: center;
    padding: 20px;
}

.social ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    margin-bottom: 25px;
    gap: 12px;
}

.social ul li a {
    display: flex;
    align-items: center;
    gap: 8px;
}

.social img {
    width: 28px;
    height: 28px;
}

.divider-footer {
    display: block;
    width: 1054px;
    height: 1px;
    background-color: var(--text-color);
}

footer p {
    margin-top: 45px;
}

.developer {
    font-size: .8rem;
    font-family: "Montserrat", sans-serif;
}