* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-family: "Montserrat", sans-serif;

    --background-color: #E5E5E5;
    --bg-nav-color: #142126;
    --text-color: #FCFCFC;
    --text-color-subtitles: #3F1111;

    --font-title: "Noto Serif", serif;
}

body {
    font-size: 1.25rem;
    color: var(--text-color);

    background-color: var(--background-color);
}

a {
    color: var(--text-color);
    text-decoration: none;
}

a:hover {
    color: var(--background-color);
}

.container {
    padding-inline: auto;
    max-width: 1440px;
    margin-inline: auto;
}

.bg-nav-color {
    background-color: var(--bg-nav-color);
}