* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --background-color: #E5E5E5;
  --bg-nav-color: #142126;
  --text-color: #FCFCFC;
  --text-color-subtitles: #3F1111;
  --font-title: "Noto Serif", serif;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 1.25rem;
  color: var(--text-color);
  background-color: var(--background-color);

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: var(--text-color);
  text-decoration: none;
}

a:hover {
  color: var(--background-color);
}